*{
    margin: 0;
    padding: 0;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    font-size: 20px;
    min-height: 130px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.nav-container{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-container a{
    text-decoration: none;
    color: black;
}
.follow-btn{
    padding: 10px 20px 10px;
    background-color: rgb(204, 202, 202);
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.logo-container img{
    width: 86.041px;
    height: 40px;
}
.logo-container p{
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.primary-color{
    color: rgb(240, 79, 199);
}
/* page 1 style */
.pg1-grand-parents{
    background-image: url(Group14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-position: left;
    background-repeat: no-repeat;
}
.pg1-content-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pg1-content{
  width: 50%;
}

.pg1-img{
  width: 50%;
}
.pg1-img img{
    width: 100%;
}
.pg1-content h3{
    font-size: 48px;
    /* margin-bottom: -120px; */
}
.pg1-content h1{
    font-size: 95px;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.pg1-content p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.pg1-btn{
    border: none;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
/* page 2 design */
.grad-color{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}
.pg2{
    width: 100%;
    background-color: #FFF9FC;
}
.pg2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.pg2-content{
    text-align: right;
}
.pg2-content h1{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 48px;
font-weight: 700;

}
.pg2-content p{
    margin: 15px 0 20px;
}
.pg2-content h3{
    margin: 20px 0 15px;

}

/* page 3 style */
.pg3  h1{
    font-size: 48px;
font-weight: 700;
margin-top: 50px;
}
.pg3 p{
    font-size: 18px;
font-weight: 400;
margin: 15px 0 25px;
}
.pg3{
    text-align: center;
}
.pg3-container{
    max-width: 1400px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.pg3-img{
    width: 342px;
    height: 500px;
    text-align: left;
}
/* page 4 style */
.pg4-container{
    width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
.pg4-img img{
    width: 634.833px;
    height: 650px;
}
.pg4-content h1{
    text-align: right;
font-size: 48px;
font-weight: 700;
}
.pg4-content p{
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
}
/* footer style */
footer{
    height: 636px;
    width: 100%;
    margin: auto;
    background-color: #0B0223 ;
    color: white;
    text-align: center;
}

.logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.logo-box img, .h1{
    margin-top: 150px;

}
.menu-box{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 40px auto 0;
}
.menu-box a{
    text-decoration: none;
    color: white;
}
.social-box{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 50px auto 50px;
    font-size: 30px;
}
.policy-box{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto 35px;
    font-size: 20px;
    
}
.policy-box a{
    text-decoration: none;
    color: grey;
}
.last-line{
    color: grey;
    font-size: 14px;
}